<ion-view view-title="Services" cache-view="false">        
       <ion-content  ng-class="{expanded:$scope.isExpanded}">

        <div class="list card">
        <div class="nav-ui-bg custom-nav">
            <ion-item nav-clear ui-sref="app.safetyLessons" class="item item-icon-left item-icon-right">
               <i class="icon icon-lessons" icon-direction="left"></i>
               Safety Lessons
               <i class="icon ion-chevron-right"  icon-direction="right"></i>
            </ion-item>
            <ion-item nav-clear ui-sref="app.documentation" class="item item-icon-left item-icon-right">
               <i class="icon icon-document" icon-direction="left"></i>
               OSHA Documentation
               <i class="icon ion-chevron-right" icon-direction="right"></i>
            </ion-item>
            <ion-item nav-clear  ui-sref="app.forms" class="item item-icon-left item-icon-right">
               <i class="icon icon-form" icon-direction="left"></i>
               Forms
               <i class="icon ion-chevron-right" icon-direction="right"></i>
            </ion-item>
             <ion-item nav-clear ui-sref="app.repositorytree" class="item item-icon-left item-icon-right">
                    <i class="icon icon-sticker" icon-direction="left"></i>
                    Repository Tree
                    <i class="icon ion-chevron-right" icon-direction="right"></i>
            </ion-item>
            <ion-item nav-clear ui-sref="app.webinars" class="item item-icon-left item-icon-right">
               <i class="icon icon-webinars" icon-direction="left"></i>
               Webinars
               <i class="icon ion-chevron-right" icon-direction="right"></i>
            </ion-item>
         </div>
         </div>

         <div class="text-center padding homelogo"> <img src="{{group_logo}}" alt="" /></div>

      </ion-content>

</ion-view>
